<!DOCTYPE html>
<html>
    <head>
        <title>WRPI - {% block title %}{% endblock %}</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}members/style.css">
        <script src="{{ STATIC_URL }}jquery/jquery-1.9.1.js"></script>
        <script src="{{ STATIC_URL }}members/{% block script %}{% endblock %}"></script>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
