{% extends 'members/base.html' %}

{% block title %}Home{% endblock %}

{% block script %}home.js{% endblock %}

{% block content %}
    {% if meetings.count == 0 %}
        <p>No meetings on record.</p>
    {% else %}
        <table>
            <tr>
                <th>Meeting</th>
                <th>Date</th>
                <th>Approved</th>
            </tr>
            <tr>
                {% for meeting in meetings %}
                    <tr>
                        <td>{{ meeting.get_type_display }}</td>
                        <td>{{ meeting.date }}</td>
                        <td>{{ meeting.approved }}</td>
                    </tr>
                {% endfor %}
            </td>
        </table>
    {% endif %}
    {% if workhours.count == 0 %}
        <p>No work hours on record.</p>
    {% else %}
        <table>
            <tr>
                <th>Hours</th>
                <th>Date</th>
                <th>Description</th>
                <th>Approved</th>
            </tr>
            <tr>
                {% for workhour in workhours %}
                    <tr>
                        <td>{{ workhour.hours }}</td>
                        <td>{{ workhour.date }}</td>
                        <td>{{ workhour.description }}</td>
                        <td>{{ workhour.approved }}</td>
                    </tr>
                {% endfor %}
            </td>
        </table>
    {% endif %}
    {% if classes.count == 0 %}
        <p>No classes on record.</p>
    {% else %}
        <table>
            <tr>
                <th>Class</th>
                <th>Date</th>
                <th>Approved</th>
            </tr>
            <tr>
                {% for class in classes %}
                    <tr>
                        <td>{{ class.get_type_display }}</td>
                        <td>{{ class.date }}</td>
                        <td>{{ class.approved }}</td>
                    </tr>
                {% endfor %}
            </td>
        </table>
    {% endif %}
    {% if exams.count == 0 %}
        <p>No exams on record.</p>
    {% else %}
        <table>
            <tr>
                <th>Exam</th>
                <th>Date</th>
                <th>Score</th>
                <th>Passed</th>
            </tr>
            <tr>
                {% for exam in exams %}
                    <tr>
                        <td>{{ exam.get_type_display }}</td>
                        <td>{{ exam.date }}</td>
                        <td>{{ exam.score }}</td>
                        <td>{{ exam.passed }}</td>
                    </tr>
                {% endfor %}
            </td>
        </table>
    {% endif %}

    {% if shows.count == 0 %}
        <p>No shows on record.</p>
    {% else %}
        <table>
            <tr>
                <th>Show</th>
                <th>Host</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Day</th>
                <th>Time</th>
                <th>Approved</th>
                <th>Scheduled</th>
            </tr>
            <tr>
                {% for show in shows %}
                    <tr>
                        <td>{{ show.show_name }}</td>
                        <td>{{ show.host_name }}</td>
                        <td>{{ show.description }}</td>
                        <td>{{ show.get_genre_display }}</td>
                        <td>{{ show.get_day_display }}</td>
                        <td>{{ show.get_start_time_display }}-{{ show.get_end_time_display }}</td>
                        <td>{{ show.approved }}</td>
                        <td>{{ show.scheduled }}</td>
                    </tr>
                {% endfor %}
            </td>
        </table>
    {% endif %}
{% endblock %}
