<!DOCTYPE html>
<html>
    <head>
        <title>WRPI Members - {% block title %}{% endblock %}</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}members/css/style.css">
        <script src="{{ STATIC_URL }}members/js/jquery.js"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
        <div id="menu">
            <a href="../home">Home</a> | <a href="../settings">Settings</a> | <a href="../logout">Logout</a>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>
