{% extends 'members/base.html' %}

{% block title %}Home{% endblock %}

{% block nav-bar %}
    <li>Home</li>
{% endblock %}

{% block content %}
    <div class="g-d-c">
        <div class="g-d-12 g-d-f">
            <div class="grp-module">
                <h2>Membership</h2>
                <div class="grp-row">
                    <a href="../meeting_attendances/"><strong>Meeting attendances</strong></a>
                    <span class="grp-font-color-quiet">
                        {% if meeting_attendance.valid %}
                            Valid through {{ meeting_attendance.valid_through }}
                        {% else %}
                            Invalid
                        {% endif %}
                    </span>
                </div>
                <div class="grp-row">
                    <a href="../work_hours/"><strong>Work hours</strong></a>
                    <span class="grp-font-color-quiet">
                        {% if work_hours.hosting.valid %}
                            Valid through {{ work_hours.hosting.valid_through }}
                        {% elif work_hours.membership.valid %}
                            Valid through {{ work_hours.membership.valid_through }}
                        {% else %}
                            Invalid
                        {% endif %}
                    </span>
                    <ul class="grp-actions">
                        <li class="grp-add-link">
                            <a href="../work_hours/add">Add</a>
                        </li>
                    </ul>
                </div>
                <div class="grp-row">
                    <a href="../class_attendances/"><strong>Class attendances</strong></a>
                    <span class="grp-font-color-quiet">
                        {% if class_attendance.valid %}
                            Valid
                        {% else %}
                            Invalid
                        {% endif %}
                    </span>
                </div>
                <div class="grp-row">
                    <a href="../exams/"><strong>Exams</strong></a>
                    <span class="grp-font-color-quiet">
                        {% if exams.valid %}
                            Valid through {{ exams.valid_through }}
                        {% else %}
                            Invalid
                        {% endif %}
                    </span>
                </div>
                <div class="grp-row">
                    <a href="../Shadows/"><strong>Shadows</strong></a>
                    <span class="grp-font-color-quiet">
                        {% if shadows.valid %}
                            Valid
                        {% else %}
                            Invalid
                        {% endif %}
                    </span>
                    {% if status.membership.valid and class_attendance.valid %}
                        <ul class="grp-actions">
                            <li class="grp-add-link">
                                <a href="../shadows/add">Add</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="grp-row">
                    <a href="../shows/"><strong>Shows</strong></a>
                    {% if status.hosting.valid %}
                        <ul class="grp-actions">
                            <li class="grp-add-link">
                                <a href="../shadows/add">Add</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="g-d-6 g-d-l">
            <div class="grp-module" id="grp-recent-actions-module">
                <h2>Status</h2>
                <div class="grp-module">
                    <ul class="grp-listing-small">
                        <li class="grp-row">
                            <strong>Membership</strong>
                            <span class="grp-font-color-quiet">
                                {% if status.membership.valid %}
                                    Valid through {{ status.membership.valid_through }}
                                {% else %}
                                    Invalid
                                {% endif %}
                            </span>
                        </li>
                        <li class="grp-row">
                            <strong>Clearance</strong>
                            <span class="grp-font-color-quiet">
                                {% if status.clearance.valid %}
                                    Valid through {{ status.clearance.valid_through }}
                                {% else %}
                                    Invalid
                                {% endif %}
                            </span>
                        </li>
                         <li class="grp-row">
                            <strong>Hosting</strong>
                            <span class="grp-font-color-quiet">
                                {% if status.hosting.valid %}
                                    Valid through {{ status.hosting.valid_through }}
                                {% else %}
                                    Invalid
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
